<%= form_for @job do |f| %>
  <div class="field">
    <%= f.label :title, class: 'label' %>
    <div class="field">
      <%= f.text_field :title, class: 'input' %>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, class: 'label' %>
    <div class="field">
      <%= f.text_area :description, size: '60x6', class: 'textarea' %>
    </div>
  </div>

  <div class="field">
    <%= f.submit class: 'button is-primary' %>
  </div>
<% end %>
