<h3 class="title is-3"><%= job.title %></h3>
<p><%= job.description %></p>
<h5 class="title is-5"><%= link_to "Edit", edit_job_path(job) %></h5>
<h5 class="title is-5"><%= link_to "Delete", job, method: :delete %></h5>
