<header>
  <nav class="navbar is-light" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-menu">
      <div class="navbar-start">
        <%= link_to "Home", jobs_path, class: 'navbar-item' %>
      </div>
      <div class="navbar-end">
        <%= link_to "Add Job", new_job_path, class: 'navbar-item' %>
      </div>
    </div>
  </nav>
</header>
